*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.heading{
    /* width: 10px; */
    text-align: center;
    padding-top: 10px;
}
 h3,p {
    padding-left: 50px;
    color: blue;
}
.container{
    /* background-color: red; */
    height: auto;
    width: 500px;
    margin: 0 auto;
}
.button{
    padding-left: 190px;
    padding-top: 15px;
    
}
.button button{
    background-color: green;
   color: white;
   width: 70px;
   height: 30px;
}
.count{
    padding-left: 140px;
    padding-top: 15px;

}